---
export const prerender = false;
// Set the header for the CDN/Edge
Astro.response.headers.set(
  'Cache-Control', 
  'public, s-maxage=3600, stale-while-revalidate=604800, stale-if-error=604800'
);

import Layout from "@/layouts/Layout.astro";
import { config, locale } from "@/consts";
import CardBlogWP from "@/components/common/CardBlogWP.astro";

import Pagination from "@components/navigation/Pagination.astro";

// import Card from '@components/common/Card.astro';
const { page = 1, per_page = config.NUM_POSTS_ON_HOMEPAGE } = Astro.params;
let { url_prev, url_next } = Astro.params;
let res = await fetch(`${config.WP_BLOG_LIST}&per_page=${per_page}&page=${page}`);
let posts = await res.json();
posts = Array.isArray(posts) ? posts : [];


// console.log(posts.data)
// Pagination
const response_count = await fetch(`${config.WP_BLOG_LIST}`);
const result_count = await response_count.json();

let pagedp = Math.ceil(result_count.length / Number(per_page));
let pagedn = Math.ceil(result_count.length / Number(per_page));
let prev = Number(page);
let next = Number(page);
let pages = Number(page);

if(pagedp == pages) {
	prev = pagedp - 1;
	next = pagedn;
	url_prev = '/blog/'+prev;
	url_next = '';
	if(pagedp == 1 && pages == 1) {
		url_prev = '';
		url_next = '';
	}
}

if(Number(pages) < Number(pagedp)) {
	prev = pages - 1;
	next = pages + 1;
	
	url_prev = '/blog/dynamic/'+prev;
	url_next = '/blog/dynamic/'+next;
	if(prev == 0) {
		prev = 1;
		url_prev = '';
	}
}
	
// pagination end


const title = "Blog";
const titleLayout = `Blog — Page ${page}`;
const description = "Blogs fetched from WordPress CMS (on demand).";
---

<Layout title={titleLayout} description={description} isDynamic={true}>
  <section class="animate-fade-down text-center">
    <div class="flex flex-wrap gap-y-2 items-center justify-center p-5">
      <h1 class="text-lg font-semibold">{description}</h1>
    </div>

	<div class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4  2xl:grid-cols-4">  
      {posts.map(post => (
        <CardBlogWP
          url={`/blog/dynamic/${post.slug}/`}
          image={post._embedded?.['wp:featuredmedia']?.['0']?.media_details?.sizes?.full?.source_url  || '/placeholder.jpg'}
          title={post.title.rendered}
          slug={post.slug}
          date={post.date}
          excerpt={post.excerpt.rendered}
        />
      ))}
    </div>

    <!-- Pagination -->
    <Pagination
      totalPages={pagedn}
      currentPage={page}
      baseUrl="/blog/dynamic"
    />
  </section>
</Layout>
