---
export const prerender = false;
import OpenRemark from "@/components/OpenRemark.astro";
// Set the header for the CDN/Edge
Astro.response.headers.set(
  'Cache-Control', 
  'public, s-maxage=3600, stale-while-revalidate=604800, stale-if-error=604800'
);
import Layout from "@/layouts/Layout.astro";
import { config } from "@/consts";

const { slug } = Astro.params;

const res = await fetch(`${config.WP_BLOG_POST}?slug=${slug}&_embed`);
const [post] = await res.json();

---

<Layout
  title={post.title.rendered}
  description={post.content.rendered.replace(/<[^>]+>/g, "").substring(0, 150) + "..."}
  image={`${post._embedded?.['wp:featuredmedia']?.['0']?.media_details?.sizes?.full?.source_url || '/placeholder.jpg'}`}
  type="article"
  isDynamic={true} maxWidth={true}
>
  <section class="py-5 prose max-w-full">
   <article transition:name={`blog-card-${slug}`} class="">
    <div class="container">
      <div class="h-120 w-full rounded-md overflow-hidden relative">
        <img src={`${post._embedded?.['wp:featuredmedia']?.['0']?.media_details?.sizes?.full?.source_url || '/placeholder.jpg'}`} 
        alt={post.title.rendered} 
        title={post.title.rendered} 
        loading="eager" 
        class="w-full h-full object-cover m-0! p-0!"
        />
        <div class="absolute inset-0 bg-black/40"></div>
        <div class="absolute inset-0 flex items-center justify-center px-4 text-center">
          <h1 class="text-white text-2xl md:text-4xl font-bold mb-0" set:html={post.title.rendered} />
        </div>
      </div>

      <div class="content-populated leading-7 text-[1.20rem] pt-6" set:html={post.content.rendered}></div>
      <p class="h-1"></p>
      <OpenRemark />
    </div>
    </article>
  </section>
</Layout>