---
import { config } from "@consts";

// Menu structure (supports any nesting level)
const mainMenu = [
  { label: "Home", href: "/" },
  { label: "Projects", href: "/projects" },
  {
    label: "Blog",
    children: [
      { label: "WP - On Demand", href: "/blog/dynamic" },
      {
        label: "WP - Static",
        href: "/blog/static",
      },
    ],
  },
];

/**
 * Props:
 * - menu: MenuItem[] (menu structure)
 * - maxLevel: number (how many levels to render, default 1)
 */
type MenuItem = {
  label: string;
  href?: string;
  children?: MenuItem[];
};

const { menu = mainMenu, maxLevel = 4 } = Astro.props;
---
<ul>
  {
    // Recursive function to render menu
    function renderMenu(items: MenuItem[] = menu, level = 1) {
      return items.map((item) => {
        if (item.children && item.children.length > 0 && level < maxLevel) {
          return (
            <li class="text-lg font-medium hover:text-primary">
              <details>
                <summary>{item.label}</summary>
                <ul class=" rounded-t-none">
                  {renderMenu(item.children, level + 1)}
                </ul>
              </details>
            </li>
          );
        } else {
          return (
            <li class="text-lg font-medium hover:text-primary">
              <a href={`${config.base}${item.href}`} aria-label={item.label}>
                {item.label}
              </a>
            </li>
          );
        }
      });
    }
  }
</ul>