---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { locale, skills, introduction } from "@/consts";
import ContactFormNetlify  from "@/components/contact/ContactFormNetlify.astro";
import { Picture } from "astro:assets";
import { fade } from "astro:transitions";
const work = (
  await getCollection("workCollection", ({ data }) => data.draft !== true)
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
const postsPerPage = 5;

const titleLayout = `T2del`;
const description = "Minimal and lightweight blog and portfolio.";

---
<Layout title={titleLayout} description={description} ga4={true} clarity={true}>
  <section class=" text-center py-6">
      <h1 class="notshow frombottom font-semibold text-3xl" transition:animate={fade({ duration: "0.4s" })}>
        Dennis Macapagal<span class="text-xl">👋🏻</span>
      </h1>
      <article class="space-y-4">
          <p class="" set:html={introduction.shortDesc}></p>

          <ul class="flex flex-wrap gap-2 justify-center md:justify-start" id="">
            {skills.map((skill) => (
              <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">
                {skill.name}
              </li>
            ))}
          </ul>
          
        </article>
  </section>

  <section class="animate space-y-6 mt-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold ">Work Experience</h5>
          <!-- <Link href="/work"> See all work </Link> -->
        </div>
          {
            work.map((entry) => (
              <article class="flex flex-col space-y-4 ">
                <div class="flex justify-between items-center gap-2">
                  <div class="xs:flex-1 sm:flex-1 md:flex-1 flex lg:justify-start">
                    <h3 class="text-xl font-medium ">{entry.data.company}</h3>
                  </div>
                  {entry.data.logo && ( 

                    <Picture 
                      src={entry.data.logo}
                      alt={`${entry.data.company} logo`} 
                      class="w-42 h-10 object-contain rounded-md mr-2" 
                      width={120}
                      height={60}
                      loading={"lazy"} 
                    />
                  )}
                </div>
                
                <h4 class="text-md font-medium ">{entry.data.role}</h4>
                <div class="text-sm opacity-75">
                  <time datetime={new Date(entry.data.dateStart).toISOString()}>
                    {new Date(entry.data.dateStart).toLocaleDateString(
                      locale.date.locale,
                      locale.date.options,
                    )}
                  </time>
                   - 
                  {new Date(entry.data.dateEnd).getTime() ? (
                  <time datetime={new Date(entry.data.dateEnd).toISOString()}>
                    {new Date(entry.data.dateEnd).toLocaleDateString(
                    locale.date.locale,
                    locale.date.options,
                    )}
                  </time>
                  ) : (
                  <span>Present</span>
                  )}
                </div>
                

                <div set:html={entry.body} class="prose max-w-[100%!important]"></div>
                
              </article>
            ))
          }
  </section>

  <section class=" text-center ">
    <article class="space-y-4">
        <ContactFormNetlify title="Contact" description="Fill out the form and we'll get back to you as soon as possible" />
    </article>
  </section>
</Layout>