---
import { getCollection, getEntry, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Card from '@components/common/CardProjects2.astro';
import { config } from "@consts";
import { fade } from "astro:transitions";
export async function getStaticPaths() {
  const posts = await getCollection("projectsCollection", ({ data }) => {
    return data.draft !== true;
  });
  return posts.map((post) => {
    return {
      params: { slug: post.id },
      props: { post },
    };
  });
}

const { post } = Astro.props;

if (!post) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
// Check if post.data and post.data.author exist
let author = { data: { name: "Unknown Author" } };
// console.log("Post Data:", post.data);
if (post?.data?.author) {
  try {
    // Get full author data by reference
    const authorEntry = await getEntry(post.data.author);
    if (authorEntry) author = authorEntry;
  } catch (error) {
    console.warn("Author not found:", post.data.author);
  }
}

const { Content } = await render(post);


const posts2 = (
  await getCollection("projectsCollection", ({ data, id }) => data.draft !== true && id !== post.id)
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image?.src}
  type="article"
  publishDate={post.data.publishDate}
  updateDate={post.data.updateDate}
  author={author.data}
   ga4={true} clarity={true}
>
  <article class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-2 p-[10px]">
    {
      post.data.image && (
        <div class="max-h-[400px] overflow-auto">
          <img
            src={`${config.base}${post.data.image.srcscroll}`}
            alt={`${post.data.image.alt} || ${post.data.title}`}
            class="w-full h-auto block"
            loading="lazy"
          />
        </div>
      )
    }
    <div class="description">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 pb-4">
        <h1 class="text-xl font-medium " transition:animate={fade({ duration: "0.4s" })}>{post.data.title}</h1>
        <div class="text-right ">
          <span><a href={post.data.siteUrl}>Visit </a></span>
        </div>
      </div>
    
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 pb-4">
      <div>
       {
        post.data.category && post.data.category.length > 0 && (
          <span><strong>Stack:</strong> {post.data.category.join(", ")}</span>
        )
      }
      </div>
     
      
    </div>
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 pb-4">
        <div>
        {
            post.data.tag && post.data.tag.length > 0 && (
              <span><strong>Tags:</strong> {post.data.tag.join(", ")}</span>
            )
          }
        </div>
      
        <div class="text-right ">
        </div>
      </div>
      <hr class="mt-[10px] mb-[10px]"/>
      <Content />
    </div>
  </article>
  <section class="not-prose overflow-auto text-center" >
     <div class="mx-auto max-w-[95vw] min-w-0 ">
      <div class="flex gap-4 overflow-x-scroll scrollbar-hide py-4 position-absolute" transition:persist>
        {
          posts2.map((post2, idx) => (
            <Card
              data={post2.data}
              url={`/projects-2/${post2.id}/`}
              slug={post2.id}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
