---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { config } from "@consts";
import Pagination from "@components/navigation/Pagination.astro";
import Card from '@components/common/CardProjects.astro';
const posts = (
  await getCollection("projectsCollection", ({ data }) => data.draft !== true)
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

// const postsPerPage = 1;
// const totalPages = Math.ceil(posts.length / postsPerPage);
// const currentPage = 1;
// const paginatedPosts = posts.slice(0, postsPerPage);

const title = "Project";
const description = "A collection of Projects i have worked on.";

---
<Layout title={title} description={description}  ga4={true} clarity={true}>
  <section class=" text-center p-5">
    <div class="animate-fade-down flex flex-wrap gap-y-2 items-center justify-center p-5">
      <h1 class="text-lg font-semibold">{description}</h1>
    </div>

    <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4  2xl:grid-cols-4">
      {
        posts.map((post, idx) => (
          <Card
            data={post.data}
            url={`/projects-2/${post.id}/`}
            slug={post.id}
          />
        ))
      }
    </div>

  </section>
</Layout>