---
import { getCollection, getEntry, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import { config } from "@consts";

export async function getStaticPaths() {
  const posts = await getCollection("projectsCollection", ({ data }) => {
    return data.draft !== true;
  });
  return posts.map((post) => {
    return {
      params: { slug: post.id },
      props: { post },
    };
  });
}

const { post } = Astro.props;

if (!post) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
// Check if post.data and post.data.author exist
let author = { data: { name: "Unknown Author" } };
// console.log("Post Data:", post.data);
if (post?.data?.author) {
  try {
    // Get full author data by reference
    const authorEntry = await getEntry(post.data.author);
    if (authorEntry) author = authorEntry;
  } catch (error) {
    console.warn("Author not found:", post.data.author);
  }
}

const { Content } = await render(post);

---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image?.src}
  type="article"
  publishDate={post.data.publishDate}
  updateDate={post.data.updateDate}
  author={author.data}
   ga4={true} clarity={true}
>
  <article>
    {
      post.data.image && (
        <div class="max-h-[500px] overflow-auto">
          <img
            src={`${config.base}${post.data.image.srcscroll}`}
            alt={`${post.data.image.alt} || ${post.data.title}`}
            class="w-full h-auto block"
            style={`view-transition-name: vt-post-featured-image-${post.id};`}
          />
        </div>
      )
    }
    <h1 class="animate-fade-down frombottom text-xl font-medium ">{post.data.title}</h1>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-2 p-[10px]">
      <div>
       {
        post.data.category && post.data.category.length > 0 && (
          <span><strong>Stack:</strong> {post.data.category.join(", ")}</span>
        )
      }
      </div>
     
      <div class="text-right ">
        <span><a href={post.data.siteUrl}>Visit </a></span>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-2 p-[10px]">
      <div>
       {
          post.data.tag && post.data.tag.length > 0 && (
            <span><strong>Tags:</strong> {post.data.tag.join(", ")}</span>
          )
        }
      </div>
     
      <div class="text-right ">
      </div>
    </div>
    <!-- <p>
      By {author.data.name} 
    </p> -->
    <!-- {
      post.data.updateDate &&
        post.data.updateDate?.valueOf() !== post.data.publishDate.valueOf() && (
          <p>Last updated on {post.data.updateDate?.toLocaleDateString()}</p>
        )
    } -->
    
    
    <hr class="mt-[10px] mb-[10px]"/>
    <Content />
  </article>
</Layout>
