---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { fade } from "astro:transitions";
import Card from '@components/common/CardProjects2.astro';
const projects = (
  await getCollection("projectsCollection", ({ data }) => data.draft !== true)
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

// const postsPerPage = 1;
// const totalPages = Math.ceil(posts.length / postsPerPage);
// const currentPage = 1;
// const paginatedPosts = posts.slice(0, postsPerPage);

const title = "Project | Dennis Macapagal";
const description = "A collection of Projects i have worked on.";

---
<Layout title={title} description={description} ga4={true} clarity={true} >
  <section class=" text-center p-5">
    <div class="flex flex-wrap gap-y-2 items-center justify-center p-5">
      <h1 class="text-lg font-semibold" transition:name="heading-1">{description}</h1>
    </div>
  </section>
  <section class="not-prose overflow-auto text-center" >
     <div class="mx-auto max-w-[95vw] min-w-0 ">
      <div class="grid justify-items-center grid-cols-1 xs:grid-cols-2 md:grid-cols-4 gap-4">
      {
        projects.map((project, idx) => (
          <Card
            data={project.data}
            url={`/projects/${project.id}/`}
            slug={project.id}
          />
        ))
      }
    </div>
    </div>
  </section>
</Layout>